{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idarticles</th>
                <th>Idcomments</th>
                <th>Iduser</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td><a href="{{ path('blog_show', { 'id': blog.id }) }}">{{ blog.id }}</a></td>
                <td>{{ blog.idArticles }}</td>
                <td>{{ blog.idComments }}</td>
                <td>{{ blog.idUser }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blog_show', { 'id': blog.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
